:root {
    --notify-bg: #e8f4fd;
    --white: #ffffff;
    --text: #000;
    --user-icon: #cb1c3b;
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --text-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --orange: #f44336;
    --text-gray: #636363;
    --text-detail: #0000008a;
    --border-color: #dfdfe3;
    --btn-bg: #0A8020;
    --shadow-color_product: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow-detail_card: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --border-collapse-item_card: #d37684;
}

.btn {
    border: none;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    color: var(--white);
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.w-36 {
    width: 36px;
}

.main-container {
    padding: 0;
}

/* header */
.header-container {
    width: 100%;
    height: 64px;
    padding: 0 18px;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
}

.auth-wrapper .header-container {
    position: fixed;
}

.header-logo {
    height: 35px;
    width: 149px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.header-map_icon {
    color: #b5b6bd;
    font-size: 20px;
}

.header-notify_icon {
    position: relative;
    color: var(--text);
    font-size: 20px;
}

.notification-badge {
    position: absolute;
    font-size: 14px;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--orange);
}

.header-language {
    color: var(--orange) !important;
    font-weight: 600;
    padding: 12px;
}

.header-user {
    padding: 6px 8px;
}

.header-user .header-user_icon {
    font-size: 20px;
    color: var(--user-icon);
}

.header-user .header-user_text {
    padding: 5px !important;
    font-size: 14px;
    font-weight: bold;
    color: var(--text) !important;
}

/* navbar */
.navbar-container {
    padding: 0;
    height: 48px;
    border-bottom: 1px solid var(--border-color);
}

.navbar-container .navbar-nav {
    height: 100%;
}


.navbar-container .navbar-nav .nav-item {
    min-width: 130px;
    line-height: 48px;
    font-size: 15px;
    font-weight: bold;
    color: var(--text-gray);
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar-container .navbar-nav .nav-item.active {
    color: var(--white);
    background-size: auto 100%;
    background-image: url(https://cdn.pizzahut.vn/images/Web_V3/Menu/backgroundCategory.png);
}

.nav-item .nav-text {
    width: 100%;
    text-align: center;
}

/* Sidebar */
.cart-container {
    padding: 0;
    height: 100vh;
    align-items: center;
    position: fixed;
    right: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-header {
    background: #f8f9fa;
    height: 32px;
    padding: 0;
    margin: 0 0 7px;
}

.cart-header .cart-header_title {
    font-size: 20px;
    line-height: 32px;
    height: 50%;
}

.cart-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0;
}

.cart-content .cart-content_notify {
    font-size: 14px;
    border: none;
    border-radius: 0;
    background-color: var(--notify-bg);
}

.cart-content .cart-items {
    padding: 0 5px;
}

.cart-footer {
    flex: 0 0 auto;
    background: #f8f9fa;
}

.footer-btn_vourcher {
    padding: 5px;
}

.footer-btn_vourcher .btn-voucher {
    width: 100%;
    background: #fff;
    color: var(--btn-bg);
    border: 1px solid var(--btn-bg);
    padding: 5px;
}

.cart-footer .add-food {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.carousel-item {
    padding: 5px;
}

.cart-items {
    margin-top: 1rem;
}

.cart-summary {
    padding: 0 5px;
}

.cart-summary p {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.cart-summary .value {
    margin-left: auto;
}

.btn-checkout {
    width: 100%;
    padding: 10px;
    background: var(--btn-bg);
    position: relative;
}

.btn-checkout:hover {
    background-color: var(--btn-bg);
}

.footer-btn_checkout .btn-checkout .value {
    position: absolute;
    right: 16px;
}

.footer-btn_checkout {
    padding: 10px;
}

.cart-footer .favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-item .favorite-img {
    height: 66px;
    width: 85px;
    border-radius: 5px;
}

.favorite-item .btn-add {
    background-color: var(--btn-bg);
}

.favorite-item .favorite-item_info {
    flex: 1;
    display: flex;
    padding: 5px;
    margin-left: auto;
    text-align: left;
    flex-direction: column;
}

.favorite-item_name {
    font-size: 11px;
    font-weight: bold;
}

.favorite-item_price {
    font-size: 13px;
}


.carousel-indicators {
    bottom: -18px;
}

.carousel-indicators .carousel-indicator_btn {
    padding: 0;
    margin: 0 3px;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background: #afafaf;
}

.carousel-indicators .carousel-indicator_btn.active {
    background-color: var(--btn-bg);
}

/* content */
.main-container .row {
    width: 100%;
    margin: 0;
}

.product-item {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 6px;
    height: 338px;
}

.product-item .combo-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: var(--shadow-color_product);

}

.product-item_header .product-name {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 0;
}

.product-item_header .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    height: 186px;
}

.product-item .combo-card .card-img-top {
    border-radius: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

.product-item .combo-card .card-img-top:hover {
    transform: scale(1.1);
}

.product-item_header .product-name .card-title {
    margin: 0 5.25px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    color: var(--text);
    font-family: var(--text-font);
    text-decoration: none;
    text-transform: uppercase;
}

.product-name .new-icon {
    height: 20px;
    font-size: 0.75rem;
    color: var(--text);
    max-width: 50px;
    font-weight: 700;
    padding: 2px 3px;
    background-color: #FFC800;
    font-family: var(--text-font);
}

.product-item .combo-card .card-body {
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.card-body .card-body_text {
    position: relative;
    height: 60px;
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body_text .more-link {
    position: sticky;
    display: none;
    bottom: 0;
    left: 100%;
    color: orange;
    width: max-content;
    background-color: #fff;
    cursor: pointer;
}

.product-item .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: var(--white);
}

.card-footer .btn-select_product {
    font-size: 14px;
    min-width: 130px;
    padding: 6px 12px;
    line-height: 1.75;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--text-font);
    background-color: var(--btn-bg);
}

.card-footer .card-footer_item {
    font-size: 16px;
    font-family: var(--text-font);
}

.card-footer_item .card-footer_price {
    font-weight: bold;
}


/* Register form */
.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/client/images/background.jpg);
}

.register-container .container {
    padding: 0;
    width: 770px;
    background: #fff;
    box-shadow: var(--shadow-detail_card);
}

.register-panel {
    width: 100%;
}

.register-form {
    padding: 15px;
}

.register-btn {
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;
    color: var(--white);
    background-color: var(--btn-bg);
    box-shadow: var(--shadow-color_product);
}

/* Login */
.login-panel {
    width: 100%;
    height: 100%;
}

.login-title {
    padding-top: 20px;
    color: #A80000;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.login-content {
    background-color: var(--white);
}

.login-form {
    padding-top: 40px;
}